{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block no-sidebar-content %}
{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}
<main>
  <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
      <div
        class="row justify-content-center form-bg-image"
        data-background-lg="{% static 'volt/assets/img/illustrations/signin.svg' %}"
        style="background: url('/static/volt/assets/img/illustrations/signin.svg')"
      >
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div
            class="
              bg-white
              shadow
              border-0
              rounded
              border-light
              p-4 p-lg-5
              w-100
              fmxw-500
            "
          >
            <div class="text-center text-md-center mb-4 mt-md-0">
              <h1 class="mb-0 h3">Sign in to our platform</h1>
            </div>
            {% if user.is_authenticated %}
            <p class="errornote">
            {% blocktranslate trimmed %}
                You are authenticated as {{ username }}, but are not authorized to
                access this page. Would you like to login to a different account?
            {% endblocktranslate %}
            </p>
            {% endif %}

            <form action="{{ app_path }}" method="post" id="login-form" class="mt-4">
              {% csrf_token %}
              <div class="form-row">
                {{ form.username.errors }}
                {{ form.username.label_tag }} {{ form.username }}
              </div>
              <div class="form-row">
                {{ form.password.errors }}
                {{ form.password.label_tag }} {{ form.password }}
                <input type="hidden" name="next" value="{{ next }}">
              </div>
              {% url 'admin_password_reset' as password_reset_url %}
              {% if password_reset_url %}
              <div class="password-reset-link">
                <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
              </div>
              {% endif %}
              <div class="form-row d-grid">
                <button type="submit" class="btn btn-gray-800" >{% translate 'Log in' %} </button>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
