{% load i18n %} 
{% load static %}
{% load volt_tags %}
<style>
  .sidebar .nav-item .nav-link {
    color: #fff;
    max-width: 220px;
    cursor: pointer;
  }
</style>
{% if app_list %}
<nav
  id="sidebarMenu"
  class="sidebar d-lg-block bg-gray-800 text-white collapse"
  data-simplebar="init"
>
  <div class="simplebar-wrapper" style="margin: 0px">
    <div class="simplebar-height-auto-observer-wrapper">
      <div class="simplebar-height-auto-observer"></div>
    </div>
    <div class="simplebar-mask">
      <div class="simplebar-offset" style="right: 0px; bottom: 0px">
        <div
          class="simplebar-content-wrapper"
          style="height: auto; overflow: hidden"
        >
          <div class="simplebar-content" style="padding: 0px">
            <div class="sidebar-inner px-4 pt-3">
              <div
                class="
                  user-card
                  d-flex d-md-none
                  align-items-center
                  justify-content-between justify-content-md-center
                  pb-4
                "
              >
                <div class="d-flex align-items-center">
                  <div class="avatar-lg me-4">
                    <img
                      src="{% static 'volt/assets/img/team/profile-picture-3.jpg' %}"
                      class="card-img-top rounded-circle border-white"
                      alt="Bonnie Green"
                    />
                  </div>
                  <div class="d-block">
                    <h2 class="h5 mb-3">Hi, {% firstof user.get_short_name user.get_username %}</h2>
                    <a
                      href=""
                      class="
                        btn btn-secondary btn-sm
                        d-inline-flex
                        align-items-center
                      "
                      ><svg
                        class="icon icon-xxs me-1"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
                        ></path>
                      </svg>
                      Sign Out</a
                    >
                  </div>
                </div>
                <div class="collapse-close d-md-none">
                  <a
                    href="#sidebarMenu"
                    data-bs-toggle="collapse"
                    data-bs-target="#sidebarMenu"
                    aria-controls="sidebarMenu"
                    aria-expanded="true"
                    aria-label="Toggle navigation"
                    ><svg
                      class="icon icon-xs"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </a>
                </div>
              </div>
              <ul class="nav flex-column pt-3 pt-md-0">
                <li class="nav-item"><a href="/" class="nav-link d-flex align-items-center">
                    <span class="sidebar-icon">
                      <img src="{% static 'volt/assets/img/brand/light.svg' %}" height="20" width="20" alt="Volt Logo"> </span>
                    <span class="mt-1 sidebar-text">Volt Overview</span>
                  </a>
                </li>

                <li class="nav-item" {% if '/' in request.path|urlencode %}active{% endif %}><a href="/" class="nav-link d-flex align-items-center">
                  <span class="sidebar-icon">
                    <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg> </span><span class="sidebar-text">Dashboard</span> </span><span class="link-arrow"> </span>
                </a>
              </li>
                {% for app in app_list %}
                <li class="nav-item {% active_section request app %}">
                  <span
                    class="
                      nav-link
                      d-flex
                      justify-content-between
                      align-items-center
                    "
                    data-bs-toggle="collapse"
                    data-bs-target="#menu-{{ app.app_label }}"
                    aria-expanded="true"
                    ><span
                      ><span class="sidebar-icon"
                        ><svg
                          class="icon icon-xs me-2"
                          fill="currentColor"
                          viewBox="0 0 20 20"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
                            clip-rule="evenodd"
                          ></path>
                          <path
                            d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"
                          ></path>
                        </svg> </span
                      ><span class="sidebar-text" style="white-space: nowrap; 
                      width: 50px; 
                      overflow: hidden;
                      text-overflow: clip; ">{{ app.name|cut:" and Authorization" }}</span> </span
                    ><span class="link-arrow"
                      ><svg
                        class="icon icon-sm"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                          clip-rule="evenodd"
                        ></path></svg></span
                  ></span>

                  <div
                    class="multi-level collapse"
                    role="list"
                    id="menu-{{ app.app_label }}"
                    aria-expanded="false"
                    style=""
                  >
                    <ul class="flex-column nav">
                      {% for model in app.models %}
                      <li class="nav-item {% if model.admin_url in request.path|urlencode %}active{% endif %}">
                        {% if model.admin_url %}
                        <a
                          class="nav-link"
                          href="{{ model.admin_url }}"
                        >
                          <i class="ni ni-bullet-list-67 text-default"></i>
                          <span class="sidebar-text">{{ model.name }}</span>
                        </a>
                        {% else %}
                        <a class="nav-link">
                          <span class="sidebar-text">{{ model.name }}</span>
                        </a>
                        {% endif %}
                       
                      </li>
                      {% endfor %}
                    </ul>
                    {% endfor %}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="simplebar-placeholder" style="width: auto; height: 614px"></div>
  </div>
  <div class="simplebar-track simplebar-horizontal" style="visibility: hidden">
    <div class="simplebar-scrollbar" style="width: 0px; display: none"></div>
  </div>
  <div class="simplebar-track simplebar-vertical" style="visibility: hidden">
    <div class="simplebar-scrollbar" style="height: 0px; display: none"></div>
  </div>
</nav>
{% else %}
<p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
{% endif %}